:root {
  --normal: #434455;
  --brand: #4d5ae5;
  --dark: #2e2f42;
  --white: #ffffff;
  --light-bg: #f4f4fd;
  --active: #404bbf;
  --border: #e7e9fc;
}

body {
  color: var(--normal);
  background-color: var(--white);
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
}

/* Topline */

.logo {
  color: var(--brand);
  text-decoration: none;
  font-family: raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin: 25.5px 0 25.5px 156px;
}

.logo-black {
  color: var(--dark);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
}
.nav-bar {
  display: flex;
  align-items: center;
}
.nav-pages {
  display: flex;
  gap: 40px;
}
.nav-pages-item,
.address-item {
  display: inline-block;
}
.nav-pages-tab {
  color: var(--dark);
  font-weight: 500;
  text-decoration: none;
}

.nav-pages-tab:focus,
.nav-pages-tab:active,
.nav-pages-tab:hover {
  color: var(--active);
}

.address,
.nav-pages {
  list-style: none;
}
.address-mail,
.address-tel {
  text-decoration: none;
  font-style: normal;
  color: var(--normal);
}
.address {
  display: flex;
  gap: 40px;
  margin: 24px 156px 24px 332px;
}
.address-mail:hover,
.address-mail:active,
.address-mail:focus {
  color: var(--active);
}

.address-tel:focus,
.address-tel:active,
.address-tel:hover {
  color: var(--active);
}

/* Main Page */
/* Title Section */
.hero {
  background-color: var(--dark);
  padding: 188px 472px 292px;
  margin-bottom: 120px;
  text-align: center;
}

.hero-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
  margin-top: 0;
  margin-bottom: 48px;
}

.hero-button {
  color: var(--white);
  background: var(--brand);
  font-weight: 500;
  letter-spacing: 0.64px;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover {
  background-color: var(--active);
}

.hero-button:active {
  background-color: var(--brand);
}

/* Features Section */

.feature-list {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0 156px 120px 156px;
}

.feature-list-head {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

/* Actions Section */
.action {
  margin-bottom: 120px;
}
.action-title {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.action-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* Team Section */
.team {
  background-color: var(--light-bg);
}

.team-title {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-top: 120px;
  margin-bottom: 72px;
}

.team-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  text-align: center;
  padding-bottom: 120px;
  margin-bottom: 0;
}

.team-list-img {
  margin-bottom: 32px;
}

.team-list-item {
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-head {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-top: 0;
  margin-bottom: 8px;
}

.team-list-description {
  margin-top: 0;
  margin-bottom: 32px;
}

/* Portfolio Page */
/* Filter Section */

.filter-list,
.results-list {
  list-style: none;
  display: flex;
}

.filter-list {
  justify-content: center;
  gap: 24px;
  margin-top: 96px;
  margin-bottom: 72px;
}

.filter-button {
  background-color: var(--light-bg);
  border: 1px solid var(--border);
  border-radius: 4px;
  color: var(--brand);
  font-weight: 500;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 12px 24px;
}

.filter-button:hover,
.filter-button:active {
  background-color: var(--active);
  color: var(--white);
}

.results-list {
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin: 0 156px 120px;
}
.results-list-item {
  background-color: var(--white);
  border: 1px solid var(--border);
  margin-top: 0;
  column-gap: 48px;
}
.results-list-head {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-left: 16px;
}

.results-list-img,
.results-list-description {
  margin-bottom: 32px;
}

.results-list-description {
  margin-left: 16px;
}

/* Footer */
.footer {
  background-color: var(--dark);
  padding-top: 101.5px;
  padding-bottom: 100px;
  margin-top: 0;
}

.logo-white {
  color: var(--light-bg);
}

.footer-text {
  color: var(--light-bg);
  letter-spacing: 0.32px;
  width: 264px;
  margin-left: 156px;
}
