:root {
  --normal: #434455;
  --brand: #4d5ae5;
  --dark: #2e2f42;
  --white: #ffffff;
  --light-bg: #f4f4fd;
  --active: #404bbf;
  --border: #e7e9fc;
}

body {
  color: var(--normal);
  background-color: var(--white);
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
}

/* Topline */

.logo {
  color: var(--brand);
  text-decoration: none;
  font-family: raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-black {
  color: var(--dark);
}

.nav-pages {
  list-style: none;
}

.nav-pages-tab {
  color: var(--dark);
  font-weight: 500;
  text-decoration: none;
}

.nav-pages-tab:focus,
.nav-pages-tab:active,
.nav-pages-tab:hover {
  color: var(--active);
}

.address {
  list-style: none;
}

.address-mail,
.address-tel {
  text-decoration: none;
  font-style: normal;
  color: var(--normal);
}

.address-mail:hover,
.address-mail:active,
.address-mail:focus {
  color: var(--active);
}

.address-tel:focus,
.address-tel:active,
.address-tel:hover {
  color: var(--active);
}

/* Main Page */
/* Title Section */
.hero {
  background-color: var(--dark);
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
}

.hero-button {
  color: var(--white);
  background: var(--brand);
  font-weight: 500;
  letter-spacing: 0.64px;
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--active);
}

.hero-button:active {
  background-color: var(--brand);
}

/* Features Section */
.feature-list {
  list-style: none;
}

.feature-list-head {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

/* Actions Section */
.action-title {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.action-list {
  list-style: none;
}

/* Team Section */
.team {
  background-color: var(--light-bg);
}

.team-title {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-list {
  list-style: none;
}

.team-list-head {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

/* Portfolio Page */
/* Filter Section */

.filter-list,
.results-list {
  list-style: none;
}

.filter-button {
  background-color: var(--light-bg);
  border: 1px solid var(--border);
  border-radius: 4px;
  color: var(--brand);
  font-weight: 500;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:active {
  background-color: var(--active);
  color: var(--white);
}

.results-list-item {
  background-color: var(--white);
  border: 1px solid var(--border);
}
.results-list-head {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

/* Footer */
.footer {
  background-color: var(--dark);
}

.logo-white {
  color: var(--light-bg);
}

.footer-text {
  color: var(--light-bg);
  letter-spacing: 0.32px;
  width: 264px;
}
